/* top | right | bottom | left */
/* top | horizontal | bottom */

.treeHuggers {
  margin: 100px 0 3% 7%;
  column-count: 2;
  column-width: 50%;
}

.friend {
  background-color: white;
  margin: 3% 1% 3%;
  width: 70%;
  padding: 1%;
  border-radius: 15px 50px;
  text-align: left;
  break-inside: avoid-column;
}

h3 {
  text-align: center;
}

#heart {
  color: red;
}
