/* top | right | bottom | left */

.banner {
  background-color: rgba(0, 0, 0, .1);
  padding: 5px;
  border-radius: 15px;
}

#ttlogo {
  padding: 50px;
}

#intro {
  margin-top: 90px;
}

#definition {
  background-color: white;
  margin: 3% 0 0 15%;
  height: 170px;
  width: 400px;
  float: left;
  text-align: left;
  padding: 2%;
  border-radius: 15px 50px;
}

#stew {
  font-size: 25px;
}

.pic {
  margin: 3% 15% 5% 0;
  height: 400px;
  width: 600px;
  float: right;
}

#speak {
  height: 200px;
  width: 200px;
  float: left;
}

#lorax {
  height: 400px;
  width: 400px;
  float: right;
}
