.clickerStyle {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 15px;
  padding: 7px;
  margin: 5px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.clickerStyle:hover {
  background-color: rgba(0, 0, 0, .3);
}

.speciesDiv {
  margin-top: 90px;
}

.header {
  font-size: 25px;
}
